.services_container{
    background-color:rgb(22, 1, 61) ;
    max-width: 100%;
    padding: 2%;
    padding-top: 7%;
}
.topic_container{
    /* background-color: brown; */
    width: 100%;
    text-align: center;
}
.service_that{
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.service_topic{
    color: blueviolet;
    font-size: 50px;
}
.services{
   /* background-color: yellow; */
   width: 100%;
   justify-content: space-between;
   display: flex;
   flex-wrap: wrap;
}
.service_section{
    background-color:blueviolet;
    width: 30%;
    padding: 1%;
    margin-top: 2%;
    border-radius: 10px;
    transition:transform 0.4s ease-in-out;
    cursor: pointer;
}

.service_section:hover{
    transform: scale(1.07);
}
.service_section:hover{
    background-color: white;
}
.service_section:hover .move_section {
    color: blueviolet;
}
.move_section{
    color: white;
}
.move_section:hover{
    color: blueviolet;
}
.service_section:hover .service_icon svg path {
    fill: blueviolet; 
}

.service_line{
    margin: 0 auto;
    width: 98%;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 5%;
}

@media screen and (min-width:1540px) {

    .service_that{
        font-size: 18px;
    }
    .service_topic{
        font-size: 50px;
    }

    .service_section{
        width: 28%;
        padding: 2%;
        margin-top: 2%;
    }
    .s_topic{
        font-size: 22px; 
    }
    .s_description{
        font-size: 18px;
    }

}

@media screen and (max-width:1024px) {
    .service_section{
        width: 45%;
        padding: 2%;
        margin-top: 2%;
    }
}
@media screen and (max-width:600px) {
    .service_section{
        width: 80%;
        padding: 2%;
        margin: 0 auto;
        margin-top: 2%;
    }
}
@media screen and (max-width:400px) {
    .service_section{
        width: 90%;
        padding: 2%;
        margin: 0 auto;
        margin-top: 2%;
    }
}


    
