.footer_container{
    background-color:rgb(22, 1, 61) ;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.f_fb{
    padding: 1%;
    background-color:  blueviolet;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.f_git,
.f_linkdin{
    padding: 1%;
    background-color:  blueviolet;
    margin-left: 1%;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}

.c_git:hover,
.c_fb:hover,
.c_linkdin:hover{
    transform: translateY(-8px);
    background-color: white;
}

.c_git:hover svg path,
.c_linkdin:hover svg path,
.c_fb:hover svg path{
    fill: blueviolet;
}
.contact_icon_container{
        /* background-color: brown; */
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.design_by{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.footer_line{
    margin: 0 auto;
    width: 98%;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 5%;
}